<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iron.asr_plugin">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <meta-data android:name="com.baidu.speech.APP_ID"
            android:value="17169892" />
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="DDFa2BAMN37oeZXXQ1x55y2G" />
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="IeYBGe5Y8D0G3TCHo97GGGNKFez2ZYPB" />

        <service android:name="com.baidu.speech.VoiceRecognitionService"
            android:exported="false" />
    </application>
</manifest>
